
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
}

.navbar{
    background-image: linear-gradient(to right, rgb(252, 178, 191), rgb(245, 137, 155));
}

.navbar-nav{
    float: right;
}

.nav-link{
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin-inline: 7px;
}

.nav-link:hover{
    color: whitesmoke;
    text-decoration: wavy underline whitesmoke;
    text-underline-offset: 5px;
    transition: .5s ease;
}

.sectionBanner{
    background-image: linear-gradient(to right, rgb(252, 178, 191), rgb(245, 137, 155));
}

.sectionAbout{
    background-image: linear-gradient(to right, rgb(252, 178, 191), rgb(245, 137, 155));
}

.boxServicios{
    border-style: solid;
    background-color: rgb(245, 137, 155);
    border-color: white;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.boxServicios2{
    cursor: pointer;
}

.boxServicios:hover{
    background-color: rgb(235, 88, 113);
}

.boxServicios2:hover h4{
    color: rgb(235, 88, 113);
}

.sectionTrabajos{
    color: white;
    background-image: linear-gradient(to right, rgb(252, 178, 191), rgb(245, 137, 155));
}

.imgAbout{
    border-style: solid;
    border-color: whitesmoke;
    border-width: 2px;
}

.form-control{
    border-style: solid;
    border-color: rgb(245, 137, 155);
    border-width: 3px;
}

.btnFormulario{
    font-weight: 600;
    border-style: solid;
    border-color: rgb(245, 137, 155);
    border-width: 2px;
    background-color: white;
    transition: .4s ease-in-out;
}

.btnFormulario:hover{
    border-style: solid;
    border-width: 2px;
    background-color: rgb(245, 137, 155);
    color: white;
}

.footerBan{
    background-image: linear-gradient(to right, rgb(252, 178, 191), rgb(245, 137, 155));
}

.bi-instagram{
    font-size: 25px;
    margin-right: 10px;
    transition: .4s ease-in-out;
}

.bi-instagram:hover{
    color:whitesmoke;
    cursor: pointer;
}

.bi-envelope{
    font-size: 25px;
    margin-right: 10px;
    transition: .4s ease-in-out;
}

.bi-envelope:hover{
    color:whitesmoke;
    cursor: pointer;
}

.bi-whatsapp{
    font-size: 25px;
    transition: .4s ease-in-out;
}

.bi-whatsapp:hover{
    color:whitesmoke;
    cursor: pointer;
}

.moyanogdev{
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: .4s ease-in-out;
}

.moyanogdev:hover{
    color: whitesmoke;
}