/* Estilos Generales */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
}

/* Estilos del Header */

.navbar{
    background-image: linear-gradient(to right, rgb(252, 178, 191), rgb(245, 137, 155));
}

.navbar-nav{
    float: right;
}

.nav-link{
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin-inline: 7px;
}

.nav-link:hover{
    color: whitesmoke;
    text-decoration: wavy underline whitesmoke;
    text-underline-offset: 5px;
    transition: .5s ease;
}

/* Estilos de la Sección Banner | Home */

.sectionBanner{
    background-image: linear-gradient(to right, rgb(252, 178, 191), rgb(245, 137, 155));
}

.sectionAbout{
    background-image: linear-gradient(to right, rgb(252, 178, 191), rgb(245, 137, 155));
}

.btnGeneral{
    text-decoration: none;
    border-style: solid;
    border-color: rgb(235, 88, 113);
    border-width: 2px;
    transition: .3s ease-in-out;
}

.btnGeneral:hover{
    border-style: solid;
    border-width: 2px;
    background-color: rgb(235, 88, 113);
    color: white;
}

/* Estilos de la sección Servicios */

.boxServicios{
    border-style: solid;
    background-color: rgb(245, 137, 155);
    border-color: white;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.boxServicios2{
    cursor: pointer;
}

.boxServicios:hover{
    background-color: rgb(235, 88, 113);
}

.boxServicios2:hover h4{
    color: rgb(235, 88, 113);
}

/* Estilos de la sección Trabajos */

.sectionTrabajos{
    color: white;
    background-image: linear-gradient(to right, rgb(252, 178, 191), rgb(245, 137, 155));
}

/* Estilos de la sección Contacto */

.sectionContact{
    color: white;
    background-image: linear-gradient(to right, rgb(252, 178, 191), rgb(245, 137, 155))
}

.form-control{
    border-style: solid;
    border-color: rgb(235, 88, 113);
    border-width: 3px;
}

#msjConfirm{
    color: white;
    display: block;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
}


/* Estilos del Footer del sitio */

.bi-instagram{
    color: black;
    font-size: 25px;
    margin-right: 10px;
    transition: .4s ease-in-out;
}

.bi-instagram:hover{
    color:rgb(235, 88, 113);
    cursor: pointer;
}

.bi-whatsapp{
    color: black;
    font-size: 25px;
    transition: .4s ease-in-out;
}

.bi-whatsapp:hover{
    color:rgb(235, 88, 113);
    cursor: pointer;
}

.moyanogdev{
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: .4s ease-in-out;
}

.moyanogdev:hover{
    color: rgb(235, 88, 113);
}